-f https://eggrepo.eea.europa.eu/simple/
eea.progress.workflow==3.1
eea.coremetadata==5.3
eea.api.visualizationutils==1.4
bise.content==1.8
mo-sql-parsing==9.376.23121
mo-parsing==8.376.23121
XlsxWriter==3.1.0
